div, textarea  {
    border: 1px solid yellowgreen;
    width: 400px;
}

.nav li {
    display: inline-block;
    width: 60px;
    background-color: violet;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.back-image {
    background-image: url(../images/back_img.png);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}

.image-title {
    color: white;
    font-size: 24px;
    position: absolute;
    left: 20%;
    top: 10%;
}

.image-content {
    color: white;
    position: absolute;
    left: 20%;
    top: 20%;
    
}

.image-button {
    /*
        position : relative 
            원래 내 위치를 기준으로 이동

        position : absolute
            relative 부모를 기준으로 이동
    */
    position: absolute;
    left: 20%;
    top: 40%;
}

.target {
    background-color: grey;
    position: relative;
    left: 40%;
    top: -20px;
}